root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,h,hpp,hh}]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab

[*.{rs,toml}]
indent_style = space
indent_size = 4

[*.{s,S}]
indent_size = 8
indent_style = tab

[{Makefile,makefile,*.mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[*.org]
trim_trailing_whitespace = false

[*.{clj,cljs,cljc,edn}]
indent_style = space
indent_size = 2
