[user]
	email = andreyorst@gmail.com
	name = Andrey Orst
[alias]
	clean-all = clean -xdf
	st = status
	co = checkout
	ci = commit
	cim = commit -m
	br = branch
	bra = branch -a
        root = rev-parse --show-toplevel
	exec = "!exec "
[include]
	path = .gitconfig.local
[pull]
	ff = only
	rebase = false
