settings.json
spell
saved_workspaces
.config/kak/plugins
.config/kak/colors
.config/kak/.recentf
.config/kak/.fzf-projects
*~
*#
.config/emacs/*
!.config/emacs/init.el
!.config/emacs/early-init.el
!.config/emacs/snippets/
!.config/emacs/.sceenshot.png
!.config/emacs/.mc-lists.el
!.config/emacs/disabled.el
!.config/emacs/treemacs-atom-theme.el
!.config/emacs/straight/
.config/emacs/straight/*
!.config/emacs/straight/versions/
!.config/emacs/transient/
.config/emacs/transient/*
!.config/emacs/transient/values.el
.recentf
