bundle
sshfs
.netrwhist
settings.json
spell
saved_workspaces
.config/kak/plugins
.config/kak/colors
*~
**#*
.config/emacs/*
!.config/emacs/config.org
!.config/emacs/init.el
!.config/emacs/early-init.el
!.config/emacs/snippets/
!.config/emacs/.sceenshot.png
!.config/emacs/.mc-lists.el
!.config/emacs/.disabled.el
!.config/emacs/elisp/
.recentf
