[core]
	attributesfile = ~/.gitattributes.global
[alias]
	clean-all = clean -xdf
	st = status
	co = checkout
	ci = commit
	cim = commit -m
	br = branch
	bra = branch -a
	root = rev-parse --show-toplevel
	exec = "!exec "
[pull]
	ff = only
	rebase = false
[sendemail]
	transferencoding = base64
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
[include]
	path = .gitconfig.local
[init]
	defaultBranch = main
[diff "lisp"]
	xfuncname = "^(\\((def\\S+|let)\\s+\\S+)"
[diff "elisp"]
	xfuncname = "^(\\((def\\S+|use-package)\\s+\\S+)"
[diff "fennel"]
	xfuncname = "^(\\((fn\\S+|lambda)\\s+\\S+)"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
