# -*- mode: conf-unix -*-
$include /etc/inputrc
"\e[A": history-search-backward
"\e[B": history-search-forward
set completion-ignore-case on
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on
# set colored-completion-prefix on
set blink-matching-paren on
"\e[Z": menu-complete-backward
Tab: menu-complete
set enable-bracketed-paste on
# Emacs-like C-M-f and C-M-b
"\e\C-f": vi-match
"\e\C-b": vi-match
