{:use-metadata-for-privacy? true
 :keep-require-at-start? false
 :show-docs-arity-on-same-line? true
 :text-document-sync-kind :full
 :semantic-tokens? false
 :auto-add-ns-to-new-files? false
 :lint-project-files-after-startup? true
 :dependency-scheme "jar"}
