verbosity = 2

[server]
# exit session if no requests were received during given period in seconds
# works only in unix sockets mode (-s/--session)
# set to 0 to disable
timeout = 1800 # seconds = 30 minutes

[language.rust]
extensions = ["rs"]
roots = ["Cargo.toml"]
command = "rls"

[language.c_cpp]
extensions = ["c", "h", "cc", "hh", "cpp", "hpp"]
roots = ["compile_commands.json", ".cquery"]
command = "cquery"
args = ["--init={\"cacheDirectory\":\"~/.cache/cquery\"}"]

